<head>
    <title>Sign up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/socket.io.js"></script>

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/socket.io.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</head>

<body class="container mb-5 p-5"
    style="height:fit-content;margin:auto;font-size: 19px;font-family: 'Times New Roman', Times, serif;">
    <div class="row     mt-3" style="margin: auto;width:100%">
        <div class="row" style="width: 100%;">
            <img src="/static/Images/Icons/church.jpg" height="400px" style="width: 100%;">
        </div>
        <h1 class="col-12 mb-4" style="text-indent: 3%;color: blue;text-align: center;">
            Account was successfully created
        </h1>
        <div class="row shadow mb-3" style="margin: auto;width: 100%;">
            <p class="col-12 mb-0" style="margin: auto;font-size:25px;">
                Dear peter njenga gmail,{{names}} <br>

            <p class="col-12 mt-0 mb-0" style="text-indent: 3%;font-size: 22px;">
                Your account was successfully created.
                <p class="col-12 mt-0" style="text-indent: 3%;font-size: 22px;">
                   Thank You for Joining Us.
                </p>
            </p>

            </p> <p class="col-12 mb-3" style="margin: auto;color: blue;text-align:left;font-size: 23px;">
            Email verification link has been sent to your Email at peterwambua@gmail.com
        </p>
        </div>

       
    </div>

</body>

</html>